body { 
    max-width: 1880px;
}

header {
    width: 1880px;
    height: 960px;
    display: flex;
    padding: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    margin-left: 90px;
}

.logo {
    width: 900px;
    margin-top: 20px;
}
h1 {
    font-family: 'MullerMedium';
    font-size: 64px;
    letter-spacing: -0.5px;
    width: 508px;
    margin-top: 205px;
    margin-bottom: 0;
}

.disign {
    font-family: 'MullerRegular';
    font-size: 21px;
    line-height: 30px;
    letter-spacing: -0.01px;
    width: 456px;
    margin-top: 27px;
    margin-bottom: 44px;
}

.btn-complect {
    display: flex;
    width: 434px;
    justify-content: space-between;
    align-items: baseline;
    font-family: 'MullerRegular';
    font-size: 16px;
    line-height: 24px;
    color: #666;
}

.btn {
    width: 260px;
    height: 51px;
    background-color: #F9572E;
    font-family: 'MullerMedium';
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 7px 15px rgba(249, 87, 46, 0.6);
    cursor: pointer;
}

.btn:hover {
    background-color: #FF7B59;
}
.arrows-complect {
    margin-top: 258px;
    display: flex;
    width: 250px;
    justify-content: space-between;
    font-family: 'MullerRegular';
    font-size: 16px;
    line-height: 18px;
    color: #F9572E;
    cursor: pointer;
}

.arrows {
    border: none;
    background-image: url("images/arrows.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 41px;
    height: 30px;
    margin-top: 3px;
    margin-right: 12px;
}

.video-page {
    background-image: url("images/c4eccc9ea52b20c5cdbc293018b0bf41a586c978.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    width: 940px;
    height: 920px;
}

#contacts {
    font-family: 'MullerRegular';
    font-size: 21px;
    line-height: 24.6px;
    color: #000;
    margin-top: 39px;
    display: flex;
    justify-content: baseline;
    cursor: pointer;
}
#contacts img {
    width: 24px;
    height: 24px;
    margin-left: 76.8%;
    margin-right: 9px;
}

#contacts a {
    text-decoration: none;
    color: #000;
}

#contacts:hover a {
    color: #F9572E;
}

.btn-container {
    margin: 23.19% 36.4% 41.5% 37%;
    display: flex;
    height: 299px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'MullerRegular';
    font-size: 21px;
    line-height: 30px;
    color: #F9572E;
    cursor: pointer;
}

#btnPlay {
    width: 255px;
    height: 254px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    padding: 0;
}

#btnPlay::after:hover {
    background-image: url("images/playhover.svg");
}
main {
    display: flex;
    flex-direction: column;
}

.advantages {
    margin-top: 166px;
    margin-left: 24%;
}

.advantages h2 {
    margin: 0;
    margin-bottom: 9px;
    font-family: 'MullerMedium';
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.1px;
    justify-self: flex-start;
}
.advantages span {
    font-family: 'MullerMedium';
    text-transform: uppercase;
    color: #33B5A3;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.62px;
}

.blocks {
    display: flex;
    justify-content: space-between;
    width: 52vw;
}

.block-advantage {
    border-top: 4px solid #63D2C1;
    margin-top: 63px;
    margin-bottom: 33px;
    width: 24vw;
}

.block-advantage div {
    font-family: 'MullerMedium';
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    padding: 0;
    padding-top: 34px;
    padding-bottom: 12px;
}

.block-advantage span{
    font-family: 'MullerRegular';
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    text-transform: none;
}
.border-block {
    border: 4px solid #63D2C1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 42px;
    margin-bottom: 181px;
}

.border-block div{
    text-align: center;
}

.border-block span {
    font-family: 'MullerMedium';
    font-size: 16px;
    font-size: 64px;
    line-height: 60px;
    letter-spacing: -0.5px;
    color: #000;
}

#sliders-container {
    max-width:100%;
    margin-top: 52px;
    display: flex;
}

#image-slider1,
#image-slider2,
#image-slider3 {
    width: 750px;
    height: 500px;
}

#image-slider1 {
    padding-right: 164px;
    margin-left: -467px;
}

#image-slider3 {
    margin-right: -300px;
}

.btn-group {
    display: flex;
    width: 231px;
    justify-content: space-between;
    padding-right: 74px;
    display: flex;
    flex-direction: column;
    margin-left: 17px;
    cursor: pointer;
}

#caption {
    font-family: 'MullerRegular';
    font-size: 13px;
    line-height: 20px;
    color: #666666; 
    width: 144px;
}

.buttons {
    width: 73px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}
.btn-back,
.btn-next {
    width: 20px;
    height: 43px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.btn-back:hover img,
.btn-next:hover img{
    height: 33px;
}

#image-slider1,
#image-slider3 {
    opacity: 0.6;
}

#first-client {
    position: relative;
    margin-top: 161px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 984px;
    height: 647px;
    border: solid 4px #63D2C1;
}
#first-client h2 {
    margin-top: -23px;
    background: white;
    margin-bottom: 31px;
    font-family: 'MullerMedium';
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.2px;
    padding-left: 20px;
    padding-right: 20px;
}

.action {
    display: flex;
    width: 361px;
    height: 64px;
    justify-content: space-between;
    align-items: center;
}

.action span {
    font-family: 'MullerRegular';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    padding-left: 17px;
}

.form_registarion {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_position {
    position: relative;
}

.this_input {
    font-family: 'MullerRegular';
    font-size: 18px;
    line-height: 24px;
    color: #666666;
    display: block;
    width: 500px;
    height: 60px;
    margin-bottom: 30px;
    padding: 19px auto 18px 24px;
    outline: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

.focus_input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus_input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
}

.focus_input::after {
    font-family: 'MullerRegular';
    font-size: 18px;
    color: #383838;
    content: attr(data-placeholder);
    display: block;
    position: absolute;
    top: 16px;
    left: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.this_input:focus + .focus_input::after {
    margin-top: -22px;
    font-size: 13px;
    color: #F9572E;
    height: 3%;
    padding-right: 3px;
    padding-left: 5px;
}

.shipped {
    position: absolute;
    visibility: hidden;
    top: 211px;
    display: flex;
    flex-direction: column;
    width: 285px;
    height: 217px;
    text-transform: uppercase;
    font-family: 'MullerRegular';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.65px;
}
.shipped span {
    margin-top: 41px;
}

.forms-footer {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

.forms-footer span {
    margin-top: 22px;
    font-family: 'MullerRegular';
    font-size: 13px;
    color: #666666;
    text-align: center;
}

.forms-footer a {
    margin-top: 20px;
    font-family: 'MullerRegular';
    font-size: 13px;
    color: #F9572E;
    text-align: center;
    text-decoration: none;
    margin-bottom: 58px;
}

footer {
    margin-top: 134px;
    height: 520px;
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-icons {
    display: flex;
    width: 213px;
    justify-content: space-between;
    margin-top: 73px;
    margin-bottom: 32px;
}

.social-icons li {
    width: 51px;
    height: 51px;
    list-style: none;
}

.social-icons li:hover {
    box-shadow: 0px 7px 20px #FF7B59;
    opacity: 0.8;
}


footer span {
    font-family: 'MullerRegular';
    font-size: 21px;
    line-height: 26px;
    letter-spacing: -0.01px;
}

.subscription {
    font-family: 'MullerRegular';
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.00761905px;
    color: #666666;
    width: 439px;
    height: 48px;
    margin-bottom: 76px;
}

#contacts_footer {
    display: flex;
    justify-content: space-between;
    width: 875px;
    height: 46px;
    margin-bottom: 78px;
}

.phone-group {
    display: flex;
    font-family: 'MullerRegular';
    font-size: 21px;
    line-height: 30px;
    letter-spacing: -0.1px;
}

.mail-group {
    font-family: 'MullerRegular';
    font-size: 21px;
    line-height: 30px;
    letter-spacing: -0.1px;
}

/* .mail-group span {
    border-bottom: 1px solid #F9572E;
    padding-bottom: 1px;
} */

.phone-group img{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.phone-group a,
.mail-group a {
    text-decoration: none;
    color: #000000;
}

.mail-group a {
    text-decoration: underline;
    text-decoration-color: #F9572E;
}
.adress-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'MullerRegular';
    font-size: 21px;
    line-height: 30px;
    letter-spacing: -0.1px;
}

.city {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.00761905px;
    color: #666666;
}

.mail-group img{
    width: 30px;
    height: 20px;
    margin-right: 10px;
}
.trade-mark {
    border-top: 1px solid #ccc;
    width: 1720px;
    text-align: center;
    padding-top: 32px;
}